

body {
    background-color: #fff
}

#console {
    font-family: courier, monospace;
    background-color: #000;
    opacity: .75;
    color: #fff;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    
    font-size:14px;
    border-radius: 5px;
}
#console0 {
    font-family: courier, monospace;
    background-color: #000;
    opacity: .75;
    color: #fff;
    width:1000px;
    margin-top: 50px;

    margin-left:auto;
    margin-right:auto;
    
    font-size:14px;
    border-radius: 5px;
}
a {
    color: #0bc;
    text-decoration: none;
}
#a {
    color: #0f0;
}
#c {
    color: #0bc;
}
#b {
    color: #ff0096;
}