

body {
    background-color: #fff
}
.row{
    padding:20px;
}
#console {
    font-family: courier, monospace;
    background-color: #000;
    opacity: .75;
    color: #fff;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    
    font-size:14px;
    border-radius: 5px;
}
#console0 {
    font-family: courier, monospace;
    background-color: #000;
    opacity: .75;
    color: #fff;
    width:1000px;
    margin-top: 50px;

    margin-left:auto;
    margin-right:auto;
    
    font-size:14px;
    border-radius: 5px;
}
#console1 {
    font-family: courier, monospace;
    background-color: #000;
    color: #fff;
    width:1000px;
    margin-top: 50px;

    margin-left:auto;
    margin-right:auto;
    
    font-size:14px;
    border-radius: 5px;
}

a {
    color: #0bc;
    text-decoration: none;
}
#a {
    color: #0f0;
}
#c {
    color: #0bc;
}
#b {
    color: #ff0096;
}

#about{
    font-size: 50px;
}

#id{
    padding-top: 10px;
}

#console0 h2{
    padding: 20px;
}
#console0 img{
    padding: 20px;
    opacity: 1;
}

.fa{
    font-size: 20px;
}
#socialbot{
    font-size: 30px;
    
    margin-left: 25px;
}
